<ion-view view-title="Create a Cup">
  <ion-content class="padding">

<br>
<br>
<br>
<br>
<br>


    
    <div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" ng-model="newPost.title" placeholder="What is the name of your flavour?">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="newPost.hashtag" placeholder="is this flavour coffee, tea, or a specialty blend?">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="newPost.address" placeholder="Where did you find this flavour?">
	  </label>
	</div>

	<button ng-click="takePhoto()" class="button button-block button-dark">
	  Take Photo
	</button>

	<button ng-click="addPost(newPost)" class="button button-block button-positive">
	  Create your Cup
	</button>


  </ion-content>
</ion-view>
