<ion-view view-title="Favourites">
  <ion-content>
   
  <div class="button-bar">
  <a class="button button-stable">Tea</a>
  <a class="button button-stable">Coffee</a>
  <a class="button button-stable">Specialty</a>
</div>

   <div class="list card" ng-repeat="post in posts">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>{{post.title}}</h2>
    <p>{{post.hashtag}}</p>
  </div>

  <div class="item item-image">
    <img src="http://159.203.29.23:8080/assets/uploads/{{post.photo}}">
  </div>

  <a class="item item-icon-left assertive" href="#/tab/shop">
    <i class="ion-ios-cart-outline"></i>
    {{post.address}}
  </a>

</div>
   
  </ion-content>
</ion-view>
