<ion-view view-title="Favourites">
  <ion-content>
   

   <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>Bergamia Grey</h2>
    <p>tea</p>
  </div>

  <div class="item item-image">
    <img src="img/bergamiaGrey.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#/tab/shop">
    <i class="ion-ios-cart-outline"></i>
    Where to Purchase
  </a>

</div>
   <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>Brooklyn Bridge Blend</h2>
    <p>coffee</p>
  </div>

  <div class="item item-image">
    <img src="img/bridgeBlend.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#/tab/shop">
    <i class="ion-ios-cart-outline"></i>
    Where to Purchase
  </a>

</div>

   <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>Dulce de Leche</h2>
    <p>specialty</p>
  </div>

  <div class="item item-image">
    <img src="img/dulce.png">
  </div>

  <a class="item item-icon-left assertive" href="#/tab/shop">
    <i class="ion-ios-cart-outline"></i>
    Where to Purchase
  </a>

</div>
  </ion-content>
</ion-view>
