<ion-view view-title="Shop">
  <ion-content class="padding">
    
    <br>
    <br>

    <h2>Where to Shop</h2>

    <br>

    <div class="list">

    <a class="item item-thumbnail-left" href="https://www.facebook.com/coffeeprosydney/?fref=ts">
      <img src="img/coffeePro.jpg">
      <h2>Coffee Pro</h2>
      <p>Sydney, NS</p>
    </a>

    <a class="item item-thumbnail-left" href="http://www.sobeys.com/en/">
      <img src="img/sobeysSquare.png">
      <h2>Sobeys</h2>
      <p>Sydney, NS</p>
    </a>

    <a class="item item-thumbnail-left" href="http://www.walmart.ca/search/kcup">
      <img src="img/walmartSquare.jpg">
      <h2>Walmart</h2>
      <p>Sydney, NS</p>
    </a>

</div> 
  </ion-content>
</ion-view>
