<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Discover Tab -->
  <ion-tab title="Create" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/post/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <!-- Favourites Tab -->
  <ion-tab title="Favs" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favs">
    <ion-nav-view name="tab-favs"></ion-nav-view>
  </ion-tab>


  <!-- Shop Tab -->
  <ion-tab title="Shop" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/shop">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- <ion-content>
      <ion-list>
        <ion-item ng-hide="loggedIn" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/welcome">
          Welcome!
        </ion-item>
        <ion-item ng-show="loggedIn" menu-close href="#/app/todos">
          To Dos
        </ion-item>
        <ion-item ng-show="loggedIn" menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
 -->

</ion-tabs>
